# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore some files when exporting.
/.gitattributes            export-ignore
/icon.png                  export-ignore
/icon.png.import           export-ignore
/LICENSE                   export-ignore
/project.godot             export-ignore
/README.md                 export-ignore
/test                      export-ignore